<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/user/<%= username %>" method="POST">
        <label for="originalUrl">URL</label><input name="originalUrl" id="originalUrl" type="url">
        <label for="name">nome/path</label><input name="name" id="name" type="text">
        <input type="submit">
    </form>
    <table>
        <thead>
            <tr>
                <th>URL original</th>
                <th>URL encurtada</th>
                <th>Clicks</th>
            </tr>
        </thead>
        <tbody>
            <% urlList.forEach(urlList =>{ %>
                <tr>
                    <td>
                        <a href="<%= urlList.originalUrl %>">
                            <%= urlList.originalUrl %>
                        </a>
                    </td>
                    <td>
                        <a href="<%= urlList.tinyUrl %>">
                            <%= urlList.tinyUrl %>
                        </a>
                    </td>
                    <td>
                        <%= urlList.numberOfVisits %>
                    </td>
                    <td>
                        <form method="GET" action="/delete/<%= urlList.name %> ">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                <% }) %>
        </tbody>
    </table>
    <button onclick="window.location.href = 'http://localhost:3434/';">LogOut</button>
</body>

</html>